<section id="todoapp">
  <%= component 'todos/header' %>

  <section id="main">
    <%= component 'todos/toggle_all', todos: @todos %>
    <%= component 'todos/list', todos: @todos %>
    <%= component 'todos/footer', todos: @todos %>
  </section>
</section>
